body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    
  }
  .contenedor {   
    display: grid;
    grid-template-areas:
      "header header"                       
      "sidebar main"                        
      "footer footer";                      
    grid-template-columns: 200px 1fr;       
    grid-template-rows: 80px 1fr 60px;      
    height: 100vh;  
    background: #f3e3eb;                       
  }

  header { grid-area: header; ; color: #b17994; text-align: center; line-height: 80px; font-weight: bolder; font-size: larger;}
  aside  { grid-area: sidebar; background: #e3f2fd; padding: 10px;color:#496180; }
  main   { grid-area: main; background: #f9f9f9; padding: 10px; }
  footer { grid-area: footer; color: #b17994;; text-align: center; line-height: 60px;font-weight: bold; }

  li{
    margin-bottom:10px;
  }
  img{
    width: 20%;
    height: 20%;
  }
  .fi:link{
    https://github.com/Wasima03/PRACTICA13/blob/main/html1.html
  }

  @media (max-width: 700px) {
    .contenedor {
      grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 60px 1fr auto 50px;
    }
  }
